.report-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* background-color: blue; */
}

.report-body {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.report-label-container {
  border: none;
  flex: 1;
}

.report-label {
  padding: 1.25rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 1rem;
  text-align: start;
  font-family: "Inter Medium";
  font-size: 1.5rem;
  color: #565656;
  background-color: white;
  margin-bottom: 1rem;
  transition: 0.1s;
  display: flex;
  justify-content: space-between;
}
.report-label-active {
  box-shadow: none;
  background-color: #26dc4e;
  font-family: "Inter Black";
  color: white;
  font-size: 1.5rem;
}

.report-label-other {
  z-index: 1;
  position: relative;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.3);
}

.report-icon-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.report-icon {
  fill: #dadada;
}

.report-icon-pressed {
  fill: #3e3aff;
}

.report-icon-active {
  fill: #ffffff;
}

.report-footer {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.report-primary-button {
  background-color: #3e3aff;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  /* text */
  font-family: "Inter Black";
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border: none;
}

.report-secondary-button {
  background-color: white;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  /* text */
  font-family: "Inter Medium";
  text-decoration: none;
  font-size: 1.5rem;
  color: #565656;
  margin-right: 1rem;
}

.report-button-disabled {
  cursor: default;
}

.report-react-mic {
  display: none;
}

.report-react-mic-active {
  display: block;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* z-index: 2; */
  width: 50%;
  height: 100%;
  margin-left: 1.5em;
}
