.App {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  /* background-color: rgb(45, 45, 45); */
  height: 100vh;
}

.App-content {
  display: flex;
  width: 100%;
  max-width: 800px;
}

div {
  animation: fadeInAnimation ease 150ms;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Inter Black";
  src: url("./assets/Fonts/Inter/static/Inter-Black.ttf");
}
@font-face {
  font-family: "Inter Medium";
  src: url("./assets/Fonts/Inter/static/Inter-Medium.ttf");
}
