.faq-root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.faq-body {
  font-family: "Inter Medium";
  font-size: 1.2rem;
}

.faq-question {
  font-style: italic;
}

.faq-answer {
  font-style: none;
}

.faq-button {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.36);
  /* text */
  font-family: "Inter Black";
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #3e3aff;
  color: white;
  margin-bottom: 1rem;
}

.faq-button:active {
  box-shadow: none;
}
