.faq-root {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.faq-body {
  font-family: "Inter Medium";
  font-size: 1.2rem;
}

.faq-button {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.36);
  /* text */
  font-family: "Inter Black";
  text-decoration: none;
  font-size: 1.5rem;
  /*  */
  background-color: #3e3aff;
  color: white;

  /* 
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.36);
  font-family: "Inter Black";
  text-decoration: none;
  font-size: 1.5rem;

  transition: 0.2s;
  width: 100%;
  align-self: flex-end;
  */
}

.faq-button:active {
  box-shadow: none;
}
